
body {
    background-image: url("surf.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;

}
/* navbar */
.nav-links{
    display: -webkit-inline-box;
}

#signature {
    opacity: 50%;
    width: 110px;
    height:50px ;
}

#name {
    color: black;
    font-family: 'kauchan script',cursive;
   
}
.nav-item {
    color:blue;

}
/* page content */

h3 {margin-top: 60px;
    color: aquamarine;
   
}
a:hover {
    color:black;
}


 /* footer */

 .footer-hr{
background-color: wheat;
}
 footer {
    font-size: 16px;
    margin-top:100px;
}

.footer-li {
    margin-left: 50px;
    display: inline;
}
.footer-ul {
   list-style-type: none;
   padding: 0;

}
.text-footer {
    color: beige;
    margin-right: 235px;
    margin-top: -25px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 10px;
}
.footer-items {
   margin-left:195px ;
}




/* About page */
.rounded-circle {
    float: left;
    margin-left: 161px;
    margin-right: 20px;
    margin-top: 80px;
    width: 20%;
    height: 10%;
    opacity: 90%;
}
p {
    color: black;
    margin-right: 96px;
    margin-top: 107px;
    line-height: 56px;
}
/* contact page */
form {
    color: aliceblue;
    margin-top: 50px;
   
}
#message-space {
height: 170px ;
}
/* portfolio */
.portfolio-items {
    margin-top: 50px;
    width: 37%;
    height: 100%;
    opacity: 90%;
    margin-left: 350px;
}
.portfolio-item{
    margin-bottom: 30px;
}


/* media queries responsive breakpoints  */


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 640px) { 
    body {
        font-size: 12px;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    /* navbar */

    .nav-header {
        display: inline;
    }

    #signature {
        margin-left: 10px;
        margin-right: 0;
        width: 50x;
        height:25px ;
    }
    
    #name {
        margin-left: 20px;
        margin-top: 0;
        margin-right: 0;
    }
    .nav-item {
        margin-left: 5px;
        display: inline;
    
    }
    
    h3 {
        margin-top: 20px;
        margin-left: 30px;
    }
    h3 {
        font-size: 16px;
    }
    

    /* footer */

    footer {
        font-size: 8px;
        margin-top:130px;
    }
    
    .footer-li {
        margin-left: 3px;
        display: inline;
    }
    .footer-ul {
       list-style-type: none;
       padding: 0;
    
    }
    .text-footer {
        display: inline;
        color: beige;
        margin-left: 110px;
        margin-right: 100px;
        font-size: 6px;
    }
    .footer-items {
       margin-left:20px ;
    }
    
    /* About page */
.rounded-circle {
    float: left;
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 10px;
    width: 20%;
    height: 10%;
    
}




/* contact page */
form {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 10px;
}
#message-space {
   height: 70px ;
}
#inputEmail4 {
    height: 25px;

}
#nameform {
    height: 25px;
}

/* portfolio */

.portfolio-items {
    display: list-item;
    margin-left: 135px;
    margin-top: 70px;
    width: 10%;
    height: 5%;
}
p {
    
    line-height: 10px;
    color: black;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
}


}

/*  reponsive media queries 768px */


@media (max-width: 768px) { 
    body {
        font-size: 16px;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    /* navbar */

    .nav-header {
        display: inline;
    }

    #signature {
        margin-left: 20px;
        margin-right: 0;
        width: 50x;
        height:25px ;
    }
    
    #name {
        margin-left: 30px;
        margin-top: 10[x];
        margin-right: 10px;
    }
    .nav-item {
        margin-left: 10px;
        display: inline;
    
    }
    
    h3 {
        margin-top: 20px;
        margin-left: 30px;
    }
    h3 {
        font-size: 18px;
    }
    

    /* footer */

    footer {
        
        font-size: 10px;
        margin-top:200px;
    }
    
    .footer-li {
        margin-left: 3px;
        display: inline;
    }
    .footer-ul {
       list-style-type: none;
       padding: 0;
    
    }
    .text-footer {
        display: inline;
        color: beige;
        margin-left: 140px;
        margin-right: 100px;
        font-size: 6px;
    }
    .footer-items {
       margin-left:20px ;
    }
    
    /* About page */
.rounded-circle {
    float: left;
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 10px;
    width: 20%;
    height: 10%;
    
}




/* contact page */
form {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 10px;
}
#message-space {
   height: 70px ;
}
#inputEmail4 {
    height: 25px;

}
#nameform {
    height: 25px;
}

#contactfooter {
    margin-top: 155px;
}


/* portfolio */

.portfolio-items {
    display: list-item;
    margin-left: 165px;
    margin-top: 70px;
    width: 10%;
    height: 5%;
}
p {
    
    line-height: 17px;
    color: black;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
}



/*  reponsive media queries 768px */


@media (max-width: 980px) { 
    body {
        font-size: 16px;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    /* navbar */

    .nav-header {
        display: inline;
    }

    #signature {
        margin-left: 20px;
        margin-right: 0;
        width: 50x;
        height:25px ;
    }
    
    #name {
        margin-left: 30px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .nav-item {
        margin-left: 10px;
        display: inline;
    
    }
    
    h3 {
        margin-top: 20px;
        margin-left: 30px;
    }
    h3 {
        font-size: 18px;
    }
    

    /* footer */

    footer {
        
        font-size: 10px;
        margin-top:200px;
    }
    
    .footer-li {
        margin-left: 20px;
        display: inline;
    }
    .footer-ul {
       list-style-type: none;
       padding: 0;
    
    }
    .text-footer {
        display: inline;
        color: beige;
        margin-left: 290px;
        margin-right: 100px;
        font-size: 6px;
    }
    .footer-items {
       margin-left:140px ;
    }
    
    /* About page */
.rounded-circle {
    float: left;
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 10px;
    width: 20%;
    height: 10%;
    
}




/* contact page */
form {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 10px;
}
#message-space {
   height: 70px ;
}
#inputEmail4 {
    height: 25px;

}
#nameform {
    height: 25px;
}

#contactfooter {
    margin-top: 520px;
}


/* portfolio */

.portfolio-items {
    display: list-item;
    margin-left: 340px;
    margin-top: 70px;
    width: 10%;
    height: 5%;
}
p {
    
    line-height: 25px;
    color: black;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
}